@tailwind base;
@tailwind components;
@tailwind utilities;

.neumorp1{
    border-radius: 39px;
background: linear-gradient(145deg, #212c3b, #1c2532);
box-shadow:  5px 5px 10px #141a23,
             -5px -5px 10px #2a384b;
}